<head>
  <title>Versos, un poema cada día en tu navegador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link rel="stylesheet" href="/main.css"/>
</head>
<body>
  <%- yield %>
</body>
