<main>
  <section class="landing">
    <div class="backdrop"></div>
    <div class="content">
      <header>
        <div class="logo">
          <svg width="460" height="460" viewBox="0 0 460 460" xmlns="http://www.w3.org/2000/svg"><title>Group</title><g fill="none" fill-rule="evenodd"><path stroke="#FFF" stroke-width="40" d="M20 20h420v420H20z"/><path d="M220.922 363.758c-3.516-10.196-10.84-29.883-21.973-59.063l-59.765-147.832c-6.328-15.703-10.254-24.785-11.778-27.246-1.054-1.523-2.52-2.637-4.394-3.34-2.578-1.172-9.023-2.109-19.336-2.812v-11.25c21.211.937 36.855 1.406 46.934 1.406 9.492 0 25.605-.469 48.34-1.406v12.48c-14.298.235-22.588.528-24.874.88-2.285.35-3.867 1.025-4.746 2.02-.879.997-1.318 2.14-1.318 3.428 0 1.29.82 4.336 2.46 9.141 5.04 15.586 9.434 28.125 13.184 37.617l55.02 138.867 45.879-115.136c6.68-16.524 13.066-34.512 19.16-53.965 2.578-8.32 3.867-13.477 3.867-15.469 0-2.812-1.523-4.687-4.57-5.625-2.344-.82-11.367-1.816-27.07-2.988v-11.25c17.695.703 30.996 1.055 39.902 1.055 9.14 0 21.738-.352 37.793-1.055v11.25c-8.906.351-14.238.937-15.996 1.758-1.758.82-3.399 2.46-4.922 4.922-1.055 1.757-5.39 11.25-13.008 28.476l-54.844 135-13.535 34.629c-2.812 6.914-5.097 12.89-6.855 17.93-1.758 5.039-3.692 10.898-5.801 17.578h-17.754z" fill="#FFC8C8"/></g></svg>
        </div>
        <!-- TODO -->
        <!--<nav>-->
          <!--<a href="#" rel="noopener" target="_blank">Por qué?</a>-->
          <!--<a href="#" rel="noopener" target="_blank">Contribuye</a>-->
        <!--</nav>-->
      </header>
      <div class="slogan">
        <h1>Un poema al día en tu navegador</h1>
        <h3>Tu ración diaria de cultura</h3>
        <div class="extension">
          <a href="https://chrome.google.com/webstore/detail/versos/aggpgepnklkofofpbmgohdcafpibmlki" rel="noopener" target="_blank"
            onclick="ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'install_extension', transport: 'beacon' });">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><title>Chrome Logo</title><path fill="#FED130" d="M123.47 45.18c6.26 15.66 5.54 34.3-3.64 50.14-12.12 21.02-35.51 31.51-58.15 28.2l26.73-46.27c5.88-10.2 2.39-23.27-7.8-29.12-3.32-1.96-7-2.95-10.61-2.95h53.47z"/><path fill="#E64A45" d="M123.47 45.18H70.01c-7.35 0-14.5 3.93-18.43 10.77-3.85 6.62-3.69 14.59-.22 20.9l-26.52-45.9C42.23 8.87 73.7 2.25 98.74 16.71c11.69 6.73 20.11 16.87 24.73 28.47z"/><path fill="#51B84E" d="M88.41 77.28l-26.73 46.29c-7.01-1.01-13.93-3.35-20.43-7.09-27.55-15.91-36.97-51.09-21.08-78.6 1.42-2.48 2.98-4.75 4.66-6.91L51.35 76.9l.22.38c1.8 3.13 4.44 5.86 7.8 7.77 10.16 5.88 23.18 2.39 29.04-7.77z"/><path fill="#4793C6" d="M82.55 44.51c12.24 7.04 16.43 22.65 9.37 34.91-7.05 12.21-22.69 16.41-34.9 9.34-4.04-2.3-7.21-5.58-9.37-9.34l-.27-.46c-4.16-7.59-4.36-17.11.27-25.07A25.546 25.546 0 0 1 69.8 41.05c4.33.01 8.75 1.11 12.75 3.46z"/><path fill="#FFF" d="M69.76 94.14c-4.8 0-9.55-1.28-13.72-3.69a27.253 27.253 0 0 1-10.08-10.06l-.26-.45c-4.63-8.45-4.52-18.79.27-27.03 4.9-8.51 14.03-13.8 23.83-13.8 4.85 0 9.6 1.29 13.73 3.73 6.35 3.65 10.91 9.58 12.81 16.67 1.9 7.09.93 14.51-2.75 20.89-4.89 8.48-14.02 13.74-23.83 13.74zM69.8 43c-8.41 0-16.26 4.55-20.47 11.86-4.11 7.08-4.2 15.95-.25 23.17l.24.42c2.07 3.6 5.06 6.58 8.65 8.63 3.59 2.08 7.67 3.18 11.79 3.18 8.42 0 16.26-4.52 20.47-11.8a23.508 23.508 0 0 0 2.36-17.94c-1.64-6.09-5.55-11.17-11.01-14.32-3.56-2.1-7.62-3.2-11.78-3.2z"/></svg>
            Instalar extensión
          </a>
        </div>
        <p class="share">
          <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
            href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fversos.angelmm.rocks&text=Versos%2C%20un%20poema%20al%20d%C3%ADa%20en%20tu%20navegador.%20Tu%20raci%C3%B3n%20de%20cultura%20diaria&hashtags=poesia%2Ccultura" rel="noopener" target="_blank">
            <svg aria-labelledby="simpleicons-twitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-twitter-icon">Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg>
          </a>
          <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fversos.angelmm.rocks&t=Versos%2C%20un%20poema%20al%20d%C3%ADa%20en%20tu%20navegador" rel="noopener" target="_blank">
            <svg aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
          </a>
        </p>
      </div>
      <footer>
        Este es un proyecto <a href="https://github.com/Angelmmiguel/versos" rel="noopener" target="_blank">Open Source</a>. Creado por <a href="https://twitter.com/laux_es" rel="noopener" target="_blank">Ángel</a>.
      <footer>
    </div>
  </section>
</main>
