// Vars
$red: #ff6e6e;

// Resets
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// Styles

.landing {
  min-height: 100vh;
  background-image: url('images/landing-600px.jpg');
  background-size: cover;
  position: relative;

  $photo-sizes: 900px 1200px 1800px 2500px 3400px;
  $sizes: 600px 900px 1200px 1800px 2500px;
  @each $size in $sizes {
    $i: index($sizes, $size);
    @media (min-width: #{$size}) {
      background-image: url('images/landing-#{nth($photo-sizes, $i)}.jpg');
    }
  }

  .backdrop {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .85;
    z-index: 10;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;

    header {
      color: white;
      font-size: .9em;
      height: 75px;
      line-height: 75px;
      display: flex;
      justify-content: space-between;
      z-index: 20;

      .logo {
        width: 100%;
        text-align: center;
        padding-top: 1.5em;

        svg {
          width: 2em;
          height: 2em;
          vertical-align: middle;
        }
      }

      nav {
        a {
          display: inline-block;
          color: white;
          text-decoration: none;
          font-weight: bold;
          padding: 0 5px;
          margin-left: 20px;
        }
      }
    }

    .slogan {
      z-index: 20;
      color: white;
      text-align: center;
      padding: 4em 0;
      align-self: center;

      h1,
      h3 {
        font-weight: normal;
      }

      h1 {
        font-size: 3em;
        margin: 0 0 .2em;
      }

      h3 {
        font-family: 'Bad Script', cursive;
        font-size: 2em;
        margin: 0;
      }

      @media (max-width: 560px) {
        h1 {
          font-size: 2em;
        }

        h3 {
          font-size: 1.3em;
        }
      }

      .extension {
        text-align: center;

        a {
          background-color: $red;
          border: 1px solid darken($red, 10%);
          border-bottom-width: 5px;
          border-radius: 2px;
          color: white;
          display: inline-block;
          font-size: 1em;
          font-weight: bold;
          margin-top: 2em;
          padding: 1em 2em;

          svg {
            width: 3em;
            height: 3em;
            margin-right: .5em;
            vertical-align: middle;
          }
        }
      }
    }

    .share {
      color: white;
      margin-top: 1.5em;

      svg {
        display: inline-block;
        margin: 0 .2em;
        width: 1em;
        vertical-align: middle;
        fill: white;
        transition: fill .3s ease-out;

        &:hover {
          fill: $red;
        }
      }
    }

    footer {
      z-index: 20;
      color: white;
      font-size: .8em;
      text-align: center;
      padding: 1em;
      opacity: .5;
      transition: opacity .3s ease-out;

      a {
        color: $red;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
